* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One';
}

nav {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1;
}

nav ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 20px;
}

a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

.shoes-block {
    width: 100%;
    height: 100vh;
    position: relative;
}

.shoes-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 32%;
}

.shoes-content h4 {
    font-size: 40px;
}

#shoes1 {
    background-color: red;
    color: yellow;
}

#shoes2 {
    background-color: green;
    color: yellow;
}

#shoes3 {
    background-color: yellow;
    color: green;
}